:root {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
.titulo {
    text-align: center;

    
}
.redes {
    display: flex;
    height: 100%;
    
}
.paisaje {
    box-sizing: border-box;
    color: white;
    max-width: 320px;
    background-color: yellow;
}
.icono {
    border-radius: 50%;
}